@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.slider {
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.active {
  opacity: 1;
}
